nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: #222;
    color: white;
    align-items: center;
}

.link {
    margin-left: 20px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}